<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="baz logo" title="baz logo"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgAQMAAACxAfVuAAAABlBMVEUAAAD///+l2Z/dAAABxUlEQVRIx+2WQW4DIQxFBxFpdiU34BrZcbFIEPVi7HoNbtDpbqSOoNieNHZwq266GysaS0+AP7aBTNNhhx122GBNsQP+C/wk9y7gB7k3AQu5VwFzRGcETAG+dRJw8vDdpshgPTlw6zkwuL3M4JaLZ3D1FjVcHYNLuKGGOjNYYgZ3a5bB3HF3tt0Iopm2gJtbZq1n2wrOtcLg3HV38zRhN9d32C3QhN08LR5pwm59dwm7ujLY9WTQcFdzb/wCGmjCXWaDuLDHzGQ2iOtowrdMSDAmemEyMW6gCQ+ZEDfShIdMiEu1YzJ7XMPSdj+fhRKcmMwel0qRmcwel4pWfhuprqlHJ51J6sQdmSx3hHu3Re4dszQvMkuYT7fKfGLm/SYzjzUKVdYIqxnbUzWh7virskMMDt5kL1lYVvRS77oZBIius5jNVfangVEwOotbFDbe100cRkyRaeK+DZjMVAX0mPZ8FfCFjuFFwBMd2LO8xOloP93s+yUgLchSstK3v4xU11Sjk84naJsoOuvRrL1LaVKEDi9YGGWi0G2AbpSJQpcB2lEmCs3aA5pGGJvy1IaqQL8p0K0KnBcF2qJAk7WXPh1/dn6yL5MlvE6a7Tj7AAAAAElFTkSuQmCC" />
  <span>Event Scheduler</span>
  <div class="spacer"></div>
  <a aria-label="Source on github" target="_blank" rel="noopener" href="https://github.com/pyabzz/eventScheduler"
    title="Source on github">
    <svg height="42" viewBox="0 0 16 16" version="1.1" width="52">
      <path fill-rule="evenodd"
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
      </path>
    </svg>
  </a>
</div>

<div id="list-container" role="main">
  
</div>

<router-outlet></router-outlet>